











@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins&display=swap');

*
{
  font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
  color: #F5F5F5;
}

body 
{
  margin: 0;
  background-color: #101010;
  color: white;
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif;
}

.bar
{
margin-top: 26px;
margin-right: 10px;
display: flex;
width: 2rem;
display: flex;
flex-direction: column;
}

body {
  background-color: #000000;
  margin: 0 ;
}



.nav 
{
  display: flex;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  gap: 2rem;
}


.header 
{
  font-size: 5rem;
  display: flex;
}
